.cf::after {
  content: '';
  height: 0;
  display: block;
  clear: both;
}
body {
  min-width: 1200px;
}
img {
  display: block;
  width: 100%;
  height: 100%;
}
.l {
  float: left;
}
.r {
  float: right;
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: Arial, '微软雅黑', sans-serif;
}
p {
  margin: 0;
}
.g-wrap {
  display: flex;
}
.g-side {
  flex: 0 1 350px;
  display: flex;
}
.side-l {
  background-color: #1d2531;
  position: relative;
}
.side-l .wrap {
  padding: 20px;
}
.side-l .item {
  margin-bottom: 20px;
  cursor: pointer;
}
.side-l .btm-bar {
  position: absolute;
  width: 60px;
  bottom: 20px;
}
.side-r {
  flex: 0 0 250px;
  background-color: #222c3c;
  position: relative;
}
.side-r .wrap {
  padding: 30px;
}
.side-r .list {
  border-bottom: 1px solid #666;
  margin-bottom: 20px;
}
.side-r .list .item {
  font-size: 14px;
  padding: 10px 0;
  color: #fff;
  cursor: pointer;
}
.side-r .list .title {
  font-size: 12px;
  color: #aaa;
}
.side-r .btm-bar {
  position: absolute;
  bottom: 20px;
  width: 190px;
  font-size: 12px;
  color: #fff;
}
.side-r .progress {
  margin-top: 10px;
  width: 190px;
  height: 4px;
  background-color: #2d3848;
  border-radius: 2px;
  overflow: hidden;
}
.side-r .progress .percent {
  width: 50px;
  height: 100%;
  display: block;
  background-color: #9785e3;
}
.g-mn {
  flex: 1;
}
.g-mn .top {
  padding: 10px 20px;
  border-bottom: 1px solid #eee;
}
.g-mn .top .title {
  float: left;
  font-size: 24px;
  line-height: 58px;
}
.g-mn .top .more {
  float: right;
  padding: 23px 10px;
}
.g-mn .top .r .imgbox {
  width: 58px;
  height: 58px;
  float: left;
}
.g-mn .top .r .desc {
  float: left;
  padding: 10px;
  font-size: 16px;
}
.g-mn .top .r .desc .name {
  color: #2399f1;
}
.g-mn .top .r .desc .job {
  color: #aaa;
  font-size: 14px;
}
.g-mn .w-ct {
  display: flex;
}
.g-mn .ct-l {
  flex: 0 0 400px;
  border-right: 1px solid #eee;
}
.g-mn .ct-l .srch {
  border-bottom: 1px solid #eee;
  padding: 15px 30px;
}
.g-mn .ct-l .srch .wrap {
  position: relative;
  border: 1px solid #eee;
  padding: 0 10px;
}
.g-mn .ct-l .srch .wrap input {
  border: none;
  height: 35px;
  width: 100%;
  outline: none;
}
.g-mn .ct-l .srch .wrap .icon {
  position: absolute;
  width: 16px;
  height: 16px;
  right: 10px;
  top: 10px;
  cursor: pointer;
}
.g-mn .ct-l .w-item {
  padding: 15px 30px;
  position: relative;
  border-bottom: 1px solid #eee;
}
.g-mn .ct-l .num {
  width: 24px;
  height: 24px;
  background-color: #279cf4;
  color: #fff;
  text-align: center;
  line-height: 24px;
  border-radius: 50%;
  position: absolute;
  bottom: 20px;
  right: 30px;
}
.g-mn .ct-l .item {
  position: relative;
  cursor: pointer;
}
.g-mn .ct-l .item .info {
  height: 48px;
  display: flex;
}
.g-mn .ct-l .item .imgbox {
  flex: 0 0 48px;
}
.g-mn .ct-l .item .desc {
  padding-left: 20px;
  flex: 1;
}
.g-mn .ct-l .item .desc .name {
  padding: 5px 0;
  color: #585d68;
}
.g-mn .ct-l .item .desc .job {
  font-size: 14px;
  color: #b5b5b5;
}
.g-mn .ct-l .item .when {
  line-height: 48px;
  font-size: 14px;
  color: #7f8fa4;
}
.g-mn .ct-l .item .msg {
  width: 300px;
  margin-top: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  font-size: 14px;
  color: #585d68;
}
.g-mn .ct-l .item.active::before {
  content: '';
  position: absolute;
  width: 3px;
  height: 100%;
  background-color: #279cf4;
}
.g-mn .ct-l .item.active .name {
  padding-left: 15px;
  color: #279cf4;
  position: relative;
}
.g-mn .ct-l .item.active .name::before {
  content: '';
  position: absolute;
  width: 8px;
  height: 8px;
  background-color: #279cf4;
  border-radius: 50%;
  left: 0;
  top: 10px;
}
.g-mn .divider {
  font-size: 14px;
  line-height: 20px;
  position: relative;
  text-align: center;
  color: #bbb;
}
.g-mn .divider .txt {
  display: inline-block;
  padding: 0 10px ;
  background-color: #fff;
}
.g-mn .divider::before {
  content: '';
  position: absolute;
  left: 0;
  top: 10px;
  width: 100%;
  height: 1px;
  z-index: -1;
  background-color: #eee;
}
.g-mn .divider.new .txt {
  color: #2399f1;
}
.g-mn .divider.new::before {
  background-color: #2399f1;
}
.g-mn .ct-r {
  flex: 1;
}
.g-mn .ct-r .manage {
  height: 69px;
  border-bottom: 1px solid #eee;
}
.g-mn .ct-r .manage .w-manage {
  padding: 15px 30px;
}
.g-mn .ct-r .manage .name {
  font-size: 18px;
  line-height: 39px;
  color: #585d68;
}
.g-mn .ct-r .manage .cols {
  display: inline-block;
  border: 1px solid #eee;
  border-radius: 4px;
}
.g-mn .ct-r .manage .cols .col {
  float: left;
  width: 30px;
  height: 30px;
  border-right: 1px solid #eee;
  cursor: pointer;
}
.g-mn .ct-r .manage .cols .col .col-wrap {
  padding: 7px;
}
.g-mn .ct-r .manage .cols .col:last-child {
  border-right: none;
}
.g-mn .ct-r .manage .line {
  display: inline-block;
  margin: 0 10px;
  height: 30px;
  width: 1px;
  background-color: #eee;
  vertical-align: top;
}
.g-mn .ct-r .manage .pages {
  display: inline-block;
  margin: 0 10px;
  line-height: 35px;
  font-size: 14px;
  color: #56688a;
  vertical-align: top;
}
.g-mn .ct-r .manage .switch .col .col-wrap {
  padding: 10px 12px;
}
.g-mn .ct-r .news {
  padding: 15px 0;
}
.g-mn .ct-r .news .item {
  padding: 10px 25px;
  display: flex;
}
.g-mn .ct-r .news .item .imgbox {
  flex: 0 0 46px;
  height: 46px;
}
.g-mn .ct-r .news .item .info {
  padding-left: 20px;
}
.g-mn .ct-r .news .item .info .detail {
  line-height: 36px;
}
.g-mn .ct-r .news .item .info .detail .name {
  font-size: 16px;
  color: #585d68;
}
.g-mn .ct-r .news .item .info .detail .time {
  padding-left: 15px;
  font-size: 14px;
  color: #7f8fa4;
}
.g-mn .ct-r .news .item .info .desc {
  font-size: 14px;
  color: #585d68;
  line-height: 19px;
}
.g-mn .ct-r .news .item .pic {
  margin-top: 10px;
}
.g-mn .ct-r .news .item .pic .imgbox {
  position: relative;
  display: inline-block;
  margin: 0 20px 20px 0;
  width: 156px;
  cursor: pointer;
  height: 100px;
  border-radius: 5px;
  overflow: hidden;
}
.g-mn .ct-r .news .item .pic .imgbox:hover .mask {
  background-color: rgba(0, 0, 0, 0.5);
}
.g-mn .ct-r .news .item .pic .imgbox:hover .btn {
  opacity: 1;
}
.g-mn .ct-r .news .item .pic .mask {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  transition: all 0.5s;
  text-align: center;
  background-color: rgba(0, 0, 0, 0);
}
.g-mn .ct-r .news .item .pic .btn {
  position: absolute;
  padding: 17px;
  left: 30%;
  top: 30%;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  transition: all 0.5s;
  opacity: 0;
}
.g-mn .ct-r .news .item .pic .btn img {
  width: auto;
  height: auto;
}
.g-mn .ct-r .new-msg {
  margin: 10px 25px;
  border: 1px solid #eee;
  border-radius: 5px;
  display: flex;
}
.g-mn .ct-r .new-msg .add {
  height: 54px;
  flex: 0 0 54px;
  cursor: pointer;
}
.g-mn .ct-r .new-msg .control {
  line-height: 54px;
  flex: 1;
  overflow: hidden;
}
.g-mn .ct-r .new-msg input {
  padding-left: 15px;
  width: 90%;
  border: none;
  outline: none;
  font-size: 14px;
  color: #585d68;
}
/*# sourceMappingURL=index.css.map */